{{ define "title" }}<title>Peers</title>{{ end }}

{{ define "content" }}
<h1>Peers</h1>

<div class="grid-container" id="peers">
  {{ range .Peers }}
    <div class="grid-item" data-id="{{ .ID }}"><b>Peer</b>: {{ .ID }} <b>|</b> {{ .Name }}
      <b>|</b> {{ .VirtualIP }} <b>|</b> {{ .Active }}
      <a href="/api/peers/{{ .ID }}" download="wg0.conf"><input type="button" value="Download"></input></a>
      <input type="submit" class="show_qr" value="QR Code"></input>
      <input type="submit" class="delete_peer" value="X"></input>
    </div>
  {{ end }}
  <div class="grid-image" onclick="clearCode()"></div>
</div>

<hr />
<div>
  <form id="add_peer">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="vip" placeholder="Virtual IP">
    <input type="submit" value="Add">
    <div id="response_message" style="color: green;"><div>
    <div id="error" style="color: red;"></div>
  </form>
</div>

<script>
$("#add_peer").submit(function(e) {
  e.preventDefault();
  const $form = $(this);
  const name = $form.find("input[name='name']");
  const vip = $form.find("input[name='vip']");

  if (name.val() === "") {
    $("#error").text("Please provide a name!").show().fadeOut(5000);
    return
  }

  $.ajax({
    method: "POST",
    url: "/api/peers",
    data: JSON.stringify({ name: name.val(), virtualip: vip.val() })
  })
  .done(function() {
    $("#response_message").text("success");
    $form.children("input").each(function() {
        $(this).val("");
    });
    location.reload();
  })
  .fail(function(d, status, err) {
    $("#error").text("error:"+ d.responseText);
    console.log("error:", d.responseText, "status:", status, "error:", err);
  });
});

$(".delete_peer").click(function() {
  $.ajax({
    method: "DELETE",
    url: "/api/peers/"+$(this).parent().attr("data-id"),
  })
  .done(function() {
    $("#response_message").text("success");
    location.reload();
  })
  .fail(function(d, status, err) {
    $("#error").text("error:"+ d.responseText);
    console.log("error:", d.responseText, "status:", status, "error:", err);
  });
});

$(".show_qr").click(function() {
  const id = $(this).parent().attr("data-id");
  $.ajax({
    method: "GET",
    url: "/api/peers/"+id,
    data: { "qr": true }
  })
  .done(function(data) {
    $(".grid-image").html("<img src='data:image/png;base64," + data + "' />")
    console.log("Showing QR code for:", id);
  })
  .fail(function(d, status, err) {
    $("#error").text("error:"+ d.responseText);
    console.log("error:", d.responseText, "status:", status, "error:", err);
  });
});

$(".grid-image").click(function() {
  $(this).html("");
})
</script>
{{ end }}
