[Interface]
Address = {{ .VirtualIP }}/{{ .CIDR }}
ListenPort = {{ .Port }}
PrivateKey = {{ .PrivateKey }}
PostUp = iptables -A FORWARD -i %i -o %i -j ACCEPT
PostDown = iptables -D FORWARD -i %i -o %i -j ACCEPT
SaveConfig = false
{{- range .Peers }}

# {{ .Name }}
[Peer]
PublicKey = {{ .PublicKey }}
AllowedIPs = {{ .VirtualIP }}/32
{{- if (gt .KeepAlive 0) }}
PersistentKeepalive = {{ .KeepAlive }}
{{- end }}
{{- end }}
